.body_inicio{
  background-image: url("fondoinic.jpg");
    color: #ffffff;
    text-align: center;
    min-height: 100vh;
}

.body_trabajos{
    background-color: #153D61;
}
.body_sobre_mi{
    background-color: #153D61;
}
.body_contacto{
    background-color: #153D61;
}
h1{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{ 
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img{
    width: 150;height: 350;
}

 a{
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
  form{
    max-width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) 
    padding 50;
}

header{
    display: flex;
    justify-items: left;
    height: 40px;
    background-color: black;
    opacity: 50%;
    margin: 0;
    align-items: center;
    padding: 10px;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  div.gallery:hover {
    border: 5px solid #0c0d30;
    transform: rotate(-1deg);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 12px;
    text-align: center;
    background-color: #ffffff;
  }
  
  .nav{
    text-align: left;
  }
  .registrarte{
    text-decoration-color: #153D61;
    color: rgb(28, 62, 132);
    
  }
